.img-fluid-max-height {
    max-width: 100%;
    height: auto;
    max-height: 164px;
    object-fit: cover;
}

.no-border {
    border:0;
}

.carousel-control-prev {
    left: 20px;
}

.carousel-control-next {
    right: 20px;
}

.carousel-indicators {
    bottom: 17px;
}

.carousel-item img {
    max-height: 768px;
    object-fit: cover;
}